<section class="container">
    <h1 id="deckCount" class="deck-count">0</h1>
    <div class="row">
        <h1 class="twelve columns">All Cards</h1>
    </div>

    <div class="cards-list">
        <% @pictures.each do |picture| %>
            <div class="card">
                <div class="image-wrap">
                    <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
                </div>
                <h5><%= picture.artist %></h5>
                <p><%= picture.title %></p>

                <a href="javascript:void(0)" class="active-state-trigger button button-primary">Add to Deck</a>
            </div>
        <% end %>
    </div>
</section>
